   * {
       margin: 0;
       padding: 0;
   }

   body {
       background-color: #0c0b0b08;
   }

   header {
       background: lightblue;
   }

   header li:hover {
       background-color: #5794a8;
       border-radius: 10px;
       color: white;
   }

   header a:hover {
       color: white;
   }

   textarea {
       resize: none;
       padding: 25px;
   }

   textarea:focus {
       outline: none !important;
       border: none !important;
   }


   .barra-lateral-esquerda .solo:hover {
       background-color: LightBlue;
   }

   .barra-lateral-esquerda li.ol:hover {
       background-color: rgba(173, 216, 230, 0.494);
   }


   .barra-folha li:hover {
       background-color: LightBlue;
   }

   #bloco-center {
       height: 700px;
       margin: auto;
   }

   .barra-lateral-esquerda,
   .barra-folha {
       color: rgb(0, 0, 0);
       font-size: 1.2em;
       padding: 20px 0px 0px 10px;
       background-color: rgba(173, 216, 230, 0.500);
       max-width: 300px;
       min-width: 210px;
   }

   .navbar-brand {
       font-size: 3.5em;
   }

   .navbar-brand>span {
       color: red;
   }

   .barra-folha .btn {
       margin: auto
   }

   #editor.ql-container.ql-snow {
       margin-top: 20px;
       background-color: white;
       display: block;
       border: none;
       box-shadow: 1px 0px 20px -2px #00000036;
       z-index: 2;
       position: relative;
   }