{% extends 'base.html' %}
{% load static %}
{% block conteiner %}
<section>
    <div id="container-main" class="row justify-content-center  align-items-center">
        <div style="width: 425px">
            <div class="text-center">
                <i class="fa-regular fa-user" style="font-size: 100px; margin: 50px 0px;"></i>
                <h1 class="mb-4">Cadastro de Usuario</h1>
            </div>
            {% if msg %}
            <div class="alert alert-danger" role="alert">
                {{ msg }}
            </div>
            {% endif%}
            <form id="cadastro" class="form row" method="post" autocomplete="off">
                {% csrf_token %}
                <div>
                    <label class="d-block" for="nome">Nome de usuario:</label>
                    <input id="nome" name="nome" type="text" required>
                    {% if usuarioInvalid %}
                    <div class="alert alert-danger" role="alert">
                        {{ usuarioInvalid }}
                    </div>
                    {% endif%}

                </div>
                <div>
                    <label class="d-block" for="senha">Senha:</label>
                    <input id="senha" name="senha" type="password" required>
                    {% if senhaInvalid %}
                    <div class="alert alert-danger" role="alert">
                        {{ senhaInvalid}}
                    </div>
                    {% endif%}
                </div>
                <div>
                    <label class="d-block" for="senha2">Confirmar senha</label>
                    <input id="senha2" name="senha2" type="password" required>
                    {% if senha2Invalid %}
                    <div class="alert alert-danger" role="alert">
                        {{ senha2Invalid }}
                    </div>
                    {% endif %}
                </div>
                <input type="submit" class="btn btn-primary ms-auto" value="Cadastrar">
                <span>Já tem conta ? faça <a href="{% url 'login' %}">login</a></span>

        </div>

        </form>

    </div>
    </div>
</section>
{% endblock %}