{% extends 'base.html' %}
{% load static %}
{% block conteiner %}
<section>
    <div id="container-main" class="row justify-content-center  align-items-center">
        <div style="width: 425px">
            <div class="text-center">
                <i class="fa-regular fa-user" style="font-size: 100px; margin: 50px 0px;"></i>
                <h1 class="mb-4">Cadastro de Usuario</h1>
            </div>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">

                {{message}}
            </div>
            {% endfor %}

            {% endif %}
            <form class="form row" method="post" autocomplete="on">
                {% csrf_token %}
                <div>
                    <label class="d-block" for="nome">Nome de usuario:</label>
                    <input id="nome" name="nome" type="text" required>
                </div>
                <div>
                    <label class="d-block" for="senha">Senha:</label>
                    <input id="senha" name="senha" type="password" autocomplete="off" required>
                </div>
                <input type="submit" class="btn btn-primary ms-auto" value="Login" required>

            </form>
            <span>Não tem cadastro ? </span><a href="{% url 'cadastro' %}">Cadastre-se</a>
        </div>
    </div>
</section>
{% endblock %}